@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --main-blue: #0E0C38;
  --main-red: #FF0513;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-blue);
  color: white;
}

h1 {
  font-size: 96px;
  margin: 0;
}

p {
  font-size: 22px;
  margin: 0;
  
}

ul {
  list-style: none;
  padding: 0;
}

/* Use this with a <span> to highlight text */
.highlight {
  font-weight: 700;
  color: var(--main-red)
}

.nav {
  width: 100%;
  display: flex;
  justify-content: right;
}

.nav ul {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.nav ul li {
  margin-right: 30px;
  padding: 30px 20px 10px 20px;
  font-weight: 700;
}

.nav ul li:hover {
  background-color: var(--main-red);
}

.landing-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
  border-bottom: 8px solid var(--main-red);
}

.landing-info {
  width: 700px;
}

.landing-info ul {
  display: flex;
  flex-direction: row;
}


.landing-info li {
  margin-right: 40px;
}

.landing-image {
  display: flex;
  justify-items: end;
}

.landing-cta {
  width: 400px;
}

.landing-cta a {
  padding: 16px 24px;
  border: 1px solid white;
  margin-right: 20px;
  border-radius: 25px;
  font-weight: 700;
}

.landing-cta a:nth-child(1) {
  background-color: var(--main-red);
  border-color: var(--main-red);
}