@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --main-blue: #0E0C38;
  --main-red: #FF0513;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-blue);
  color: white;
}

h1 {
  font-size: 96px;
  margin: 0;
  line-height: 90px;
}

p {
  font-size: 22px;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* Use this with a <span> to highlight text */
.highlight {
  font-weight: 700;
  color: var(--main-red)
}

.nav {
  width: 100%;
  display: flex;
  justify-content: right;
}

.nav ul {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.nav ul li {
  margin-right: 30px;
  padding: 30px 20px 10px 20px;
  font-weight: 700;
  transition: .2s;
}

.nav ul li:hover {
  background-color: var(--main-red);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: .2s;
  cursor: pointer;
}

.landing-container {
  width: 100%;
  min-height: 700px;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
  border-bottom: 8px solid var(--main-red);
}

.landing-info {
  width: 800px;
}

.landing-info p {
  margin: 2rem 0 1rem 0;
}

.landing-info ul {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 5rem 0;
}

.landing-info li {
  margin-right: 40px;
}

.landing-info i {
  font-size: 2.5rem;
}

.landing-image {
  display: flex;
  justify-items: end;
}

.landing-image img {
  position: relative;
  bottom: -5px;
  z-index: -1;
}

.landing-cta {
  width: 400px;
}

.cta-work, .cta-contact {
  display: inline-block;
  padding: 16px 24px;
  margin-right: 20px;
  border-radius: 25px;
  font-weight: 700;
}

.cta-contact {
  border: 1px solid white;
}

.cta-contact:hover {
  cursor: pointer;
}

.cta-work {
  background-color: var(--main-red);
  border: 1px solid var(--main-red);
}

.cta-work:hover {
  cursor: pointer;
  background-color: var(--main-blue);
  border-color: white;
}